<!--Header-->
<app-header></app-header>

<!--Componente Padre-->
<div class="flex justify-center mt-6">
    <div class="mb-3 xl:w-96">
        <label for="padre" class="form-label inline-block mb-2 text-gray-700">Componente Padre</label>
        <input [(ngModel)]="valuePadre" type="text" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="padre" placeholder="Yo soy tu Padre"/>
    </div>
</div>

<!--Componente Hijo-->
<app-hijo [valueHijo]="valuePadre"></app-hijo>